extends ../_component/layout/layout-inside-page

block config
    -
        var
            title="Roberto Blake: Graphic Designer, Marketer, Educator, Author & Speaker",
            description="Roberto Blake: Graphic Designer, Marketer, Educator, Author & Speaker"

block content
    include ../_component/mixin/link
    .header__wrapper
        h1 Contact and Work with Roberto Blake
        .header__panel
            .header__body--contact
    hr
    .landing__content
        .content-press
            .content-side
                h2 Let's Work Together!
                p 
                    | If you're ready to make a real investment in the growth of your business or brand I would like to help you execute on your goals. To get started please reach out to me via email 
                    span
                        img.img-inline(src="../asset/image/roberto-blake-email.png",)
                    | or feel free to call me 518.406.8664. Be prepared to discuss the details of your project for a minimum of 15 minutes.
                h2 Booking Me For Speaking Engagements
                p
                    | If you're interested in booking Roberto for a speaking engagement please reach out via email 
                    span
                        img.img-inline(src="../asset/image/roberto-blake-email_01.png",)
                    |  with the details of your event. 
            hr
            .side-bar
                h2 Contact Roberto
                ul
                    li
                        p rblake@robertoblake.com
                    li
                        p C: 518.406.8664 
                    li
                        p skypeID: roberto.blake
                    li
                        a(href="http://robertoblake.com/newsletter") http://robertoblake.com/newsletter
                    li
                        a(href="http://twitter.com/robertoblake") http://twitter.com/robertoblake
                    li
                        a(href="http://youtube.com/robertoblake2") http://youtube.com/robertoblake2
                    li
                        a(href="http://facebook.com/robertoblake2") http://facebook.com/robertoblake2
                    li
                        a(href="http://linkedin.com/in/robertoblake") http://linkedin.com/in/robertoblake
            hr

            .content
                h2 What People Are Saying About Roberto... 
                .two-column
                    .column
                        p
                            em "There are many influencers and experts in the digital space but Roberto Blake truly does stand out from the rest. Roberto is incredibly dedicated to his craft and is persistent in creating relatable and useful content for his followers. Not only is Roberto great at what he does, he is very generous at giving his time sharing insight with his community."
                        p.text__right #[strong Chelsea Krost Co-founder MPulse]
                    .column
                        p
                            em "He has a real passion for creative entrepreneurship and empowering others, and the community he’s built around his creative philosophy is a reflection of his commitment to his following." 
                        p.text__right #[strong Jared Kleinert-Forbes]