$color-mine-shaft: #333333;
$color-gallery: #eeeeee;
$color-white: #fff;
$color-mercury: #E7E7E7;
$color-pizazz: #FF9600;
$color-carrot-orange: #ec971f;
$color-meteor: #D58512;
// border color
$color-fuel-yellow: #eea236;
// bg color
$color-sandy-brown: #f0ad4e;
// footer a
$color-astral: #337ab7;
// fotter a hover
$color-bay-of-many: #23527c;
