.header {
    background-color: $color-mine-shaft;
    color: $color-white;
}

.header__top {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid $color-mercury;
    background-color: $color-mine-shaft;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    z-index: 1;
}

.header__name {
    font-size: 2rem;
    padding: 1.5rem;
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
    color: $color-white;
}

.rbcf-menu {
    font-size: 2.4rem;
    padding: 0.5rem;
    margin: 0.8rem;
    border: 0.1rem solid $color-white;
    border-radius: 0.3rem;
    cursor: pointer;
}

.header__menu-item {
    background-color: $color-mine-shaft;
    &:first-child {
        & .header__menu-link:after {
            font-family: 'roberto-blake-custom-font' !important;
            content: "\e902";
            font-size: 2rem;
        }
        padding-top: 0.5rem;
    }
}

.header__menu-link,
.dropdown__link {
    color: $color-white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.75rem 1.2rem;
    display: block;
}

.header__menu-link {
    cursor: pointer;
}

.dropdown__link {
    padding: 0.75rem 2.5rem;
}

.header__menu-list {
    // display: none;
    transition: 0.25s;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid $color-mercury;
    z-index: 1;
}

#toggle-sub-menu,
#toggle-top-menu {
    display: none;
}

#toggle-top-menu:checked + .header__menu-list {
    top: 5.2rem;
}

.header__sub-menu {
    display: none;
}

#toggle-sub-menu:checked + .header__menu-link + .header__sub-menu {
    display: block;
}

#toggle-sub-menu:checked + .header__menu-link .rbcf-circle-down::before{
    transform: rotate(180deg);
    display: inline-block;
}

.rbcf-circle-down {
    padding: 0 0.7rem;
}

.header__wrapper {
    background-color: $color-pizazz;

    h1 {
        color: $color-white;
        font-size: 3.6rem;
        text-align: center;
        font-weight: normal;
        padding: 1rem 1.5rem;
    }
}

%header__body {
    height: 61.1rem;
    background-position: center;
    background-size: cover;
}

.header__body--home {
    background-image: url("asset/image/robertoblake2016header.jpg");
    @extend %header__body
}

.header__body--about {
    background-image: url("../asset/image/robertoblake2016-design-header.jpg");
    @extend %header__body
}

.header__body--consulting {
    background-image: url("../asset/image/robertoblake2016-marketing-header.jpg");
    @extend %header__body
}

.header__body--press {
    background-image: url("../asset/image/robertoblake2016-press-header-2.jpg");
    @extend %header__body
}

.header__body--contact {
    background-image: url("../asset/image/robertoblake2016-header-contact.jpg");
    @extend %header__body
}

.header__footer {
    text-align: center;
    padding-bottom: 2.7rem;
    background-color: $color-mine-shaft;
    color: $color-white;
    
    h2 {
        font-size: 2.4rem;
        text-align: center;
        font-weight: normal;
        padding: 1.5rem;
        margin-bottom: 1rem;
    }
}