//- reset everything (hard reset

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

//- iar de aici incepe distractia

html {
    //reset the font size to 10 px
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    padding-top: 5.2rem;
}

p {
    font-size: 1.6rem;
}

a {
    color: $color-astral;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        // background-color: $color-fuel-yellow;
    }
}

hr {
    border-top: 0.1rem solid $color-gallery;
    margin: 1.5rem;
}

.text-justify {
    text-align: left;
    margin: 0 2rem;

    h2 {
        text-align: center;
        padding-bottom: 2rem;
    }

    p {
        padding: 1rem 0;
    }
}

// .image {
//     max-width: 100%;
// }

@import "landing-content";