footer {
    text-align: center;
    font-size: 1.5rem;
    
    .footer__link {
        color: $color-astral;
        font-size: 1.5rem;
        text-decoration: none;
    }

    p {
        margin-bottom: 0.8rem;
    }

    .footer__link:hover {
        color: $color-bay-of-many;
        text-decoration: underline;
    }
}

.footer__social {
    background-color: $color-pizazz;
    padding-bottom: 1.3rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: $color-white;
}

.social__icon {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    background-image: url("asset/image/social-logo-sprite.png");

}

.social__item {
    &:nth-of-type(2) .social__icon {
        background-position-y: -15rem;
    }
    &:nth-of-type(3) .social__icon {
        background-position-y: -30rem;
    }
    &:nth-of-type(4) .social__icon {
        background-position-y: -45rem;
    }

}

.social__description {
    color: $color-white;
    width: 34rem;
    margin: 0 auto;
    padding: 1rem;
}

.footer__text {
    padding: 3rem;

    h2 {
        font-weight: normal;
        font-size: 3rem;
    }

    h2, p {
        padding: 0.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}