extends _component/layout/layout

block config
    -
        var
            title="Roberto Blake replica",
            description="This is the Roberto Blake new site"

block content
    p
        | this is the boss 
        span.rbcf-home3